doctype html
html(lan="en")
    head 
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title clZoom
        link(rel="icon", href="/public/favicon/favicon.png", type="image/x-icon")
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body 
        header 
            h1 clZoom ✨
        
        main
            h2 Welcome! 
            p Hi Judith

            script(src="/public/js/app.js")
            img(src="/public/img/1.jpg")